.wrapper {
    display: grid;
    grid-template-columns: auto minmax(320px, 1200px) auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 30px 20px;
    grid-template-areas: 
    "header header header"
    ". body ."
    "footer footer footer";
}

.header {
    grid-area: header;
	background-color: var(--white);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.body {
    grid-area: body;
}


.footer {
    grid-area: footer;
}

@media (max-width: 765px) {

    .header {
        display: block;
    }

    .body{
        padding: 15px;
    }
    
    .wrapper {
        grid-template-columns: minmax(320px, 1fr);
        grid-template-areas: 
        "header"
        "body"
        "footer";  
    }
}