.header{
	display: grid;
	grid-template-columns: auto 800px auto;
}

.logoWrapper {
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: 700;
	padding-left: 10px;
	cursor: pointer;
}

.logoAccent {
	color: var(--primary-dark);
}

.search {
	margin: 10px 0;
}